node_modules/
.build/
DerivedData/
*.xcodeproj
xcuserdata/
build/
addons/
addons-flat/
BareKit.xcframework/
*.bundle
!tiny.js
!pure.js
bare-host.bundle
bare-ios-sim.bundle
bare-ios.bundle
min-ios-sim.bundle
min-entry.js
*.backup-test
pearcal-lock-reference.json
copy-bundles.sh
